.box {
  position: relative;
  height: 200px;
  width: 200px;
  overflow-y: scroll;
  background-color: tomato;
  margin: 10px 10px 10px 10px;
}

.img2 {
  width: 250px;
  height: 250px;
}

.products--grid {
  display: flex;
  flex-direction: column;
}

.products--grid div img {
  width: 100%;
  border-radius: 10px;
}

.products--grid h2 {
  margin: 0;
}

.products--grid p {
  margin: 0;
}

.message-error{
  background: red;
  color: white;
  opacity: 0;
  transition: all linear .5s;
}

.invalid{
opacity: 1;
}

.BoxImg{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.line-error{
  height: 0;
  border-bottom: 3px solid;
}

.line-error.valid{
  border-color: green;
}

.line-error.invalid{
  border-color: red;
}

.campo-error{
  background: red;
  color: white;
  opacity: 0;
  transition: all linear .5s;
}

.campo-error.invalid{
  opacity: 1;
}
@media screen and (min-width: 40em) {
  .products--grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }
}

@media screen and (min-width: 62em) {
  .products--grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
  }
}
