<h1>Hola Mundo - String Interpolation</h1>
<!-- Con el String Interpolation podemos renderizar un string por ejemplo que se repita 5 veces -->
<h2>{{'Hola Mundo Interpolation '.repeat(2)}}</h2>
<!-- Ahora crearemos otra etiqueta que me muestre la suma de dos numeros y luego lo renderice -->
<!-- Esto me permite a mi trabajar desde el html con TypeScript-->
<p> 3 + 2 = {{3+2}}</p>
<!-- Para poder tener accesos desde la clase a los atributos que deseamos renderizar -->
<!-- El acceso debe ser publico por que si en dado caso es privado estamos diciendo que los atributos son de uso interno de la clase donde se declaran -->
<h3> Hola Me llamo {{name}} y tengo {{edad}} años de edad</h3>
<!-- Tambien podemos usar String interpolation en imagenes para ello lo declaramos en el componente -->
<img class="img2" src={{img}} alt="Imagen Ramdon">
<hr/>

<h1>Propiedades Property Binding</h1>
<!-- simplemente utiliza los corchetes [] para poder modificar dinámicamente ese atributo desde el controlador. -->
<button [disabled]="btnDisabled" >Enviar</button>
<!-- Vamos a renderizar un input dinamicamente pero atraves de un objeto -->
<input type="text" [value]="persona.name">
<progress max="100" [value]="persona.edad"></progress>
<img [src]="persona.img" alt="imagenRamdon" width="100px">
<hr/>

<h1>Eventos</h1>
<button [disabled]="btnDisabled" >Enviar</button>
<!-- Vamos a modificar el estado de nuestro boton de arriba atraves de un evento -->
<!-- El cual se va a inicializar cuando demos click y llamara a la funcion que se creo -->
<!-- en nuestro componente de typeScript -->
<button (click)="toggleButton()">Activar o Desactivar Boton</button>

<!-- Ahora vamos a incrementar la edad de la misma forma -->
<p>Edad {{persona.edad}}</p>
<!-- Creamos un boton que acceda al evento de nuestro componente e inicialice lo que esta dentro de el -->
<button (click)="incrementoEdad()">Sube tu edad ++</button>
<button (click)="decrementoEdad()">Sube tu edad ++</button>

<!-- Hacemos uso del evento scrool para poder saber sus movimientos y creamos un metodo que reciba este evento -->
<!-- Para realizar una funcion y ver que ocurre -->
<div class="box" (scroll) = "onScroll($event)">
  <p>Nombre {{persona.name}}</p>
  <!-- Vamos a capturar otro evento el cual es keyup que nos permite saber cada vez que tecleamos  -->
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore eum magnam provident impedit asperiores atque voluptatum eligendi deserunt minima, itaque, fuga doloribus aperiam, enim accusantium. A magni dicta corrupti pariatur!
    Mollitia quod veritatis eveniet accusantium nobis velit! Nam, dolores expedita. Distinctio deserunt veniam magnam ad. Enim placeat vitae fugiat praesentium! Expedita magni quod minima dolores in id vitae facere sed.
    Sit, deleniti commodi! Velit dignissimos optio, ex reiciendis earum aliquam autem atque libero tempora modi quae ipsa incidunt est nemo possimus perferendis nulla consequatur deserunt recusandae cum. Repellendus, molestias totam.
    Enim, cum rem commodi dolor ab doloremque placeat distinctio quidem tenetur molestiae, fugit suscipit repellat perspiciatis culpa totam. Quidem necessitatibus labore reiciendis ducimus magnam temporibus consectetur aut deleniti at assumenda!
    Quibusdam assumenda libero ratione enim expedita quis? Delectus et, quam maiores non vitae iure odio soluta magni minima ducimus. Quia magni aut cum commodi. Autem iste possimus aperiam quasi ad.</p>
</div>
<input type="text" [value]="persona.name" (keyup)="changeName($event)">
<hr>
<h1>NgModel</h1>
<p>Nombre {{persona.name}}</p>
<!-- Con esta funcion vamos a trabajar sobre el ngModel el cual permite el intercambio de datos en el cual nosotros le adjuntamos el objeto al cual se le va a cambiar el nombre -->
<input type="text" [(ngModel)]="persona.name"/>

